/* Archivo styles.css */
body {
    font-family: Arial, sans-serif;
}

.navbar-brand img {
    margin-right: 10px;
}

.logo {
    width: 150px;  /* Cambia el tamaño según lo necesites */
    height: auto;  /* Mantiene la proporción de la imagen */
}

h1, h2 {
    font-weight: bold;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px;
}

.bg-primary {
    background-color: #007bff !important;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}